@charset "UTF-8";
@font-face{
    font-family: wiki;
    src: url(../fontes/LinLibertine_RZ.ttf) format(truetype);

}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-image: linear-gradient(to bottom, black, rgb(155, 153, 153));
    margin: 10px;
    height: 150px;
    border-radius: 5px;
}
div.menu{
    position: relative;
    float: left;
    width: 230px;
    height: 600px;
    border: 1px solid black ;
    margin: 10px;
    list-style-position: inside;
    

}
li {
    padding: 10px;
}
li > a{
    font-size: 20px;
    text-decoration: none;

}


div.assuntos{
    position: relative;
    float: right;
    width: 230px;
    border:1px solid black;
    margin: 10px;
    list-style-position: inside;
}
div.conteudo{
    display: block;
    margin: auto;
    width: 60vw;
    border:1px solid black;
    
}